@import '../../settings/settings.scss';

$description_offset: 0vw;

$description_font_size: 15vw;

$chooseButton_font_size: 1.5vw;
$padding_vertical_of_button: 1vw;
$padding_horizontal_of_button: 3vw;

.mainSection {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $b_1;

  .mainSection_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $global_vertical_paddings $global_horizontal_paddings;

    .mainSection_top {
      //   background-color: pink;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .mainSection_top_description {
        margin-top: $description_offset;
        font-size: $description_font_size;
        line-height: 0.75;
        font-weight: 700;
      }

      .mainSection_top_chooseButton {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: fit-content;
        max-width: 25%;
        padding: $padding_vertical_of_button $padding_horizontal_of_button;
        height: fit-content;
        border: 0.3vw solid $b_0;
        border-radius: 20vw;
        font-size: $chooseButton_font_size;
        font-weight: 500;
        cursor: pointer;
        background-color: $b_0;
        color: $b_-1;

        transition: all 0.2s ease-in-out;

        &:hover{
          color: $b_0;
          background-color: $b_-1;
        }
      }
    }

    .mainSection_bottom {
      display: flex;
      justify-content: space-between;

      .mainSection_bottom_scrollDays {
        width: 100%;
        height: 100%;
        // background-color: tomato;
      }

      .mainSection_bottom_temperature {
        display: flex;
        justify-content: flex-end;
        // background-color: pink;
        width: 100%;
        font-size: $description_font_size;

        font-weight: 700;

        // .mainSection_bottom_temperature_wrap {

        // }
      }
    }
  }
}
