@import '../../settings/settings.scss';

.BackRenderSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  z-index: -100;
  // transition: all 1s ease-in-out;
  //   background-color: $b_1;

  .BackRenderSection_glass {
    position: fixed;
    width: 100vw;
    height: 100vh;
    // // background-color: pink;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(50px);
  }

  .BackRenderSection_element {
    // font-size: 500px;
    width: 35vw;
    height: 100vh;
    // border-radius: 1000px;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    // transition: all 1s ease-in-out;
    // background-color: #ffda44;
    // background: linear-gradient(140deg, #888888 40%, #4f4f4f 80%);
  }
}
